*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}


.header{
  width: 100%;
  height: 100vh;
  background-color: transparent;
}


/* .parallax {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('../imagens/header.png');
  background-size: contain;
  background-repeat: no-repeat;
} */
.img-container{
  width: 100%;
  height: 700px;
  margin: auto;
  background-image: url('../imagens/fotonova.jpg');
  background-position: center 100px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;  
}



.title-img-main{
  height: 100%;
  width: 100%;
  font-size: 60px;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

}

.title-img-main h1{
  font-family: "Playfair Display", serif;
  font-size: 120px;
  margin-top: 100px;
  margin-left: 100px;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.34);
}

.title-img-main h3{
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-left: 145px;
  margin-bottom: 25px;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.34);
}

.title-img-main h4{
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin-left: 235px;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.34);
}



.title-img-main h5{
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 260px; 
  padding: 1%;
  background-color: #CAA985 ;
  border: 1px solid #CAA985;
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  transition: transform 1s;

}

.title-img-main h5:hover{
  transform: scale(1.1);

}


.title-img-main h5 a{
  text-decoration: none;
  color: white;
}


.logo{
  background-image: url("../imagens/logoLateralDourado.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(2);
  width: 300px;
  height: 100px;
  margin-left: 100px;
  /* background-color: red; */
}

.itens-navbar-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.bio-box{
  width: 100%;
  min-height: 700px;
  height: fit-content;
  margin: 20px 0;
}

.itens-navbar{
  display: flex;
}

.itens-navbar-hamb{
  display: none;
  margin-right: 2%;
  cursor: pointer;
  color: #CAA985;
}

.itens-navbar-hamb i{
  font-size: 14px;
}

.hamburguinho-modal{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  border: 1px solid #CAA985;
  border-radius: 10px;
  right: 35px;
  padding: 1% 0.5%;
}

.hamburguinho-modal li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 15px;
  width: 100%;
}


.itens-navbar a{
  text-decoration: none;
}

.navbar-belle{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;

}

.line{
  background: #b0b0b0;
  height: 1px;
  width: 100%;
}

.line-sm{
  background: #b0b0b0;
  height:2px;
  width: 100%;
  
}

.sobre-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 5% 10% 0;
}


.bio-belle{
  width: 60%;
}

.bio-belle h3{
  color: #be9c78;
  font-size: 50px;
  margin-bottom: 2%;
  font-family: "Playfair Display", serif;
}


.bio-belle h5{
  color: #777;
  font-size: 25px;
  font-family: open;
  font-family: "Montserrat", sans-serif;
}


.bio-belle p{
  margin-top: 6%;
  padding-right: 140px;
  text-align: justify;
  line-height: 40px;
  color: #777;
  font-size: 22px;
  font-family: open;
  font-family: "Quicksand", sans-serif;
}

.foto-belle{
  width: 40%;
  height: 500px;
  background-image: url("../imagens/fotoBio.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.font-g2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.cb{
  color: #999;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: color 0.6s;
}

.cbh{
  color: #999;
  font-size: 10px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: color 0.6s;
  padding: 1%;
}

.cb:hover, .cbh:hover{
  color: #CAA985;
}

.titulo{
  width: 100%;
  height: 230px;
}

.header-1{
  width: 20%;  
}

.header-2{
  width: 80%;
}

.lh{
line-height: 60px;
}

.font-titulo{
  color:  #be9c78;
}

.foto-perfil{
  height: 600px;
  width: 100%;
  background-image: url('../imagens/img5.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.carrossel{
  margin-top: 5%;
}


.sobre-texto{
  padding: 40px;

}

.padding-top{
  padding-top: 30px;
}

 .sobre-texto span{
  line-height: 35px;
  font-size: large;
 }

.perguntas-box{
  height: 850px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }

.perguntas-box-texto{
  padding-left: 100px;
  padding-right: 100px;
}

.perguntas-box-texto span{
  color: #CAA985;
}

.perguntas-box-titulo{
  padding-left: 100px;
  }

 .perguntas-box-titulo span{
  color: #22223B;
 }

 .font-g1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
 }
 
 .font-v1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
 }

.pdg{
  padding: 50px;
 }

 .pdg-sm{
  padding-top: 20px;
 }
.pd-top{
  padding-top: 70px;
}

.msg{
  padding-bottom: 20px;
}

.pd-bottom{
padding-bottom: 20px;
}
.pd-bottom-lg{
padding-bottom: 80px;
}

 .mg{
  margin-bottom: 120px 0;
 }
 .red{
  background-color: red;
 }

.space-footer{
  margin-top: 50px;
}

.space-footer a{
  color: #999;
  text-decoration: none;
}

.space-footer span{
  color: #999;
}
.space-footer span:hover{
  color: #CAA985;
  transition: 0.5s ease-in-out;
}
.main-space-footer{
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 12%;
}

.footer i{
  margin-right: 15%;
}

.footer i:hover{
 color: #CAA985;
 transition: 0.5s ease-in-out;
}

.sp-icon{
  margin-bottom: 5%;
}

.space-footer h5{
  color: #CAA985;
}

.novo-2{
  height: 700px;
  display: flex;
 }

.carrosel-img{
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  opacity: .9;
  
}

.carrosel-img:hover{
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.05); 
  opacity: 1;
  transition: 1.5s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.insta-feed{
  margin: 2% 0;
}

.novo-2 a:hover{
    transition: 1.5s ease;
 }

.form{
  padding: 4%;
}

.mensagem{
  background-image: url("../imagens/pexels-jess-bailey-designs-876467.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10px;
}


.form input, textarea{
  padding: 15px;
  width: 600px;
  border-radius: 4px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.8);

}

.form input, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form button{
  padding: 15px;
  width: 600px;
  border-radius: 4px;
  border-style: none;
  background-color: white;
 }


 .form button:hover{
   transition: 0.5s ease-in-out;
   background-color: #fff2e6ec;
   color: #909090;
 }

.rede-social-nome{
  font-size: 2rem;
 }

.icon-rs{
  font-size: 1.5rem;
  padding-left: 2%;
 }

.section2 i{
 margin-left: 1.5rem;
 color: black;
}

.section2 i:hover{
 color: #CAA985;
 transition: 0.5s ease-in-out;
}



.bg-teste{
  background-color: yellow;
}



/* NOVO */

.proc-wrapper{
width: 100%;
height: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 1% 1% 3%;
}

.proc-wrapper h3{
color: #be9c78;
font-size: 40px;
font-family: "Playfair Display", serif;
margin: 0 0 2%;
}

.proc-boxes{
display: flex;
padding: 1%;
}

.proc-box{
height: 300px;
width: 400px;
border-radius: 8px 24px;
margin: 3%;
border: 0px solid;
transition: border 0.8s;
border: 1px solid #CAA985;
}



.proc-box-wrapper{
margin: 1%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.proc-title{
margin-top: 30px;
font-weight: 600;
font-size: 20px;
color: #777;
font-family: "Montserrat", sans-serif;
cursor: pointer;
}

.proc-facial{
width: 100%;
height: 100%;
background-image: url('../imagens/facial.jpg');
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
border-radius: 8px 24px;
cursor: pointer;
}

.proc-corporal{
width: 100%;
height: 100%;
background-image: url('../imagens/Imagem\ Corporal.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 8px 24px;
cursor: pointer;
}

.proc-capilar{
width: 100%;
height: 100%;
background-image: url('../imagens/Imagem\ Capilar.jpg');
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
border-radius: 8px 24px;
cursor: pointer;
}

.cta-box{  
height: 800px;
width: 100%;
}


.cta-box-wrapper{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.cta-box-wrapper div{
width: 50%;
}

.foto-cta{
width: 100%;
height: 800px;
background-image: url('../imagens/Sem\ título222.png');
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
}

.texto-cta-wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: #372e15;
height: 800px;
padding: 4%;
}

a{
  text-decoration: none!important;
}

.texto-cta-logo{
width: 400px!important;
height: 150px;
background-image: url('../imagens/logoSuperior.png');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}



.texto-cta-wrapper h3 a{
padding: 1%;
color: white;
font-size: 60px;
font-family: "Playfair Display", serif;
text-align: center;
cursor: pointer;
transition: color 0.8s;
display: flex;
align-items: center;
justify-content: center;
}

.texto-cta-wrapper h3 a:hover{
color: #CAA985;
}

.texto-cta-wrapper p{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-cta-wrapper p a{
  font-size: 20px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1% 5%;
  color: white;
  cursor: pointer;
  transition: border 0.8s, color 0.8s;
}

.texto-cta-wrapper p a:hover{
border: 1px solid #CAA985;
color: #CAA985;
}

.local-box{
display: flex;
margin: 50px 0 20px;
}

.localbox-foto{
background-image: url('../imagens/Imagem\ clínica.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 800px;
display: flex;
align-items: center;
justify-content: center;
}

.sombra{
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.8);
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;

}


.escritorios-box{
width: 360px;
/* min-height: 250px; */
margin: 0 2% 0 6%;
padding: 2% 2% 2%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
border: 1px solid #555;
border-radius: 5px;  
}

.escritoriosBox-wrapper{
width: 100%;
height: fit-content;
display: flex;
align-items: center;
justify-content: start;
}

.redesSociais-wrapper{
width: 100%;
height: fit-content;
display: flex;
align-items: center;
justify-content: start;
margin: 0 0 10px;
}

.cidades{
  margin-bottom: 15px!important;
}

.redesSociais-wrapper .fa-facebook-f, .redesSociais-wrapper a .fa-whatsapp, .redesSociais-wrapper .fa-instagram{
  font-size: 20px!important;
  color: #877259;
  text-align: center;
  justify-self: center;
  width: 32px;
  height: 32px;
  border: 1px solid #666;
  border-radius: 50px 50px;
  padding: 5px;
  cursor: pointer;
  margin: 0 20px 0 0 !important;
  transition: color 0.4s, transform 0.4s;
}

.redesSociais-wrapper .fa-facebook-f:hover, .redesSociais-wrapper a .fa-whatsapp:hover, .redesSociais-wrapper .fa-instagram:hover{
  color: #CAA985;
  transform: scale(1.1);
}


.escritorios-box h4{
  font-weight: 400;
  font-size: 18px;
  color: #877259;
  font-family: "Playfair Display", serif;  
  margin: 6px 0;
}

.datas-localBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;
}

.datas-localBox p{
  color: #666;
}

.localBoxes-wrapper i{
color: #877259;
font-size: 15px;
margin: 0 10px 0 0 ;
}

.local-box h3{
font-family: "Playfair Display", serif;  
font-size: 22px;
color: #666;
margin: 0 0 20px 0;
}

.localBoxes-wrapper{
display: flex;
width: 100%;
height: 70%;
align-items: center;
justify-content: space-between;
}

.local-box h1{
font-family: "Playfair Display", serif;  
color: white;
margin: 0 6%;
text-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
}

.redesSociais-wrapper h4{
  font-family: "Montserrat", sans-serif!important;
}

.redesSocias-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.dados-contatos{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 0 20px ;
  transition: color 0.8s;
}

.dados-contatos a{
  text-decoration: none;
}





.footer{
  display: flex;
  width: 100%;
  align-items: center;
}



.footer p{
  font-size: 14px;
  color: #888;
}

.footer a{
  text-decoration: none;
  color: #CAA985;
  margin: 10px;
  transition: color 0.8s;
}


.footer-arae{
  margin: 0;
  padding: 0!;
}

.footer-logo-box{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo{
  width: 200px!important;
  height: 70px;
  background-image: url('../imagens/logoSuperior.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-links{
  display: flex;
  align-items: center;
  width: 33%;
}

.footer-links a:hover{
  color: #877259;
  margin-left: 10px;
}

.footer-icons{
  width: 33%;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: color 0.8s, scale 0.8s;
}

.footer-icons a{
  margin-left: 20px;
  font-size: 18px;
}

.footer-icons i:hover{
  color: #877259;
  transform: scale(1.3);
}


/* Estilos para o modal */
/* Estilos para o modal */
.modal, .modal2, .modal3 {
  display: none; /* Torna o conteúdo centralizado vertical e horizontalmente */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  overflow: hidden;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

/* Estilos para o conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  padding: 2%;
  border: 1px solid #888;
  border-radius: 8px 24px;
  width: 40%;
  
}


.proc-list{
  padding: 4%;
  border: 1px solid #CAA985;
  border-radius: 8px 24px;
  background-color: #fff;
}

.proc-list h1{
  color: #CAA985;
  font-family: "Playfair Display", serif;
  margin-bottom: 8%;
}

.proc-list p{
  font-family: "Montserrat", sans-serif;
  color: #666;
  font-size: 16px;
}





@media screen and (max-width: 1280px){
  .title-img-main h1{
    font-size: 55px;
    margin-top: 60px;
  }
  .title-img-main h3{
    font-size: 28px;
    margin-left: 115px;
    margin-bottom: 15px;
  }
  .title-img-main h4{
    font-size: 22px;
    margin-left: 165px;    
  }
  .title-img-main h5{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 145px;  
  }
  .img-container{
    background-position: center 85px; 
    height: 500px;
  }  
  .cb{   
    font-size: 14px;
  }
  .logo{
    width: 180px;
    height: 85px;
    margin-left: 95px;
  }
  .bio-belle h3{
    font-size: 40px;
  }
  .bio-belle h5{
    font-size: 20px;
  }
  .bio-belle p{
    padding-right: 110px;
    font-size: 18px;
    line-height: 36px;
  }
  .perguntas-box{
    height: 600px;
  }
  .proc-wrapper{
    transform: scale(0.8);
  }
  .modal-content{
    transform: scale(0.8);
    width: 50%; /* Largura do conteúdo */
  }

  .localbox-foto{
    height: 600px;
  }
  .sombra h1{
    transform: scale(0.8);
  }
  .escritorios-box{
    transform: scale(0.8);
  }
  .escritorios-box h4{
    font-size: 14px;
  }
  .escritorios-box h3{
    font-size: 18px;
  }
  .escritorios-box{
    transform: scale(0.8);
  }

  .footer p{
    font-size: 11px;
  }

  .footer-links a{
    font-size: 11px;
  }
  .footer-icons i{
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px){

  .logo{
    width: 150px;
    height: 75px;
    margin-left: 80px;
  }
  .img-container{
    background-position: center 75px; 
    height: 400px;
  }
  .cb{   
    font-size: 12px;
  }
  .bio-belle h3{
    font-size: 32px;
  }
  .bio-belle h5{
    font-size: 17px;
  }
  .bio-belle p{
    padding-right: 110px;
    font-size: 15px;
    line-height: 30px;
  }
  .foto-belle{
  width: 40%;
  height: 400px;
  }
  .bio-box{
    min-height: 500px;
    height: fit-content;
  }
  .sobre-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 5% 10% 0 6%;
  }
  .perguntas-box{
    height: 550px;
  }
  .proc-wrapper{
    transform: scale(0.7);
  }
  .modal-content{
    transform: scale(0.7);
    width: 50%; /* Largura do conteúdo */
  }
  .cta-box{
    height: 550px;
  }
  .foto-cta{
    height: 550px;
  }
  .texto-cta-wrapper{
    height: 550px;
  }
  .texto-cta-logo{
    transform: scale(0.75);
  }

  .texto-cta-wrapper h3 a{
    font-size: 40px;
  }
  .texto-cta-wrapper p a{
    font-size: 16px;
  }


  
  .localbox-foto{
    height: 500px;
  }
  .sombra h1{
    transform: scale(0.7);
  }
  .escritorios-box{
    transform: scale(0.7);
  }
  .escritorios-box h4{
    font-size: 13px;
  }
  .escritorios-box h3{
    font-size: 17px;
  }
  .escritorios-box{
    transform: scale(0.7);
  }


  .footer p{
    font-size: 9px;
  }
  .footer-links a{
    font-size: 9px;
  }
  .footer-icons i{
    font-size: 12px;
  }
  .footer-logo {
    width: 165px !important;
    height: 55px;
  }


  

  .local-box{
    margin: 40px 0 18px;
  }
}



@media screen and (max-width: 880px){
  .bio-belle h3{
    font-size: 28px;
  }
  .bio-belle h5{
    font-size: 15px;
  }
  .bio-belle p{
    padding-right: 90px;
    font-size: 14px;
    line-height: 30px;
  }
  .foto-belle{
    width: 40%;
    height: 500px;
  }
  .img-container{
    background-position: center 48px; 
    height: 350px;
  }
  .perguntas-box{
    height: 500px;
  }
  .proc-wrapper{
    transform: scale(0.6);
  }
  .modal{
    height: fit-content;
    transform: translateY(-60px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.6);
    width: 50%; /* Largura do conteúdo */
  }
  
  .cta-box{
    height: 500px;
  }
  .foto-cta{
    height: 500px;
  }
  .texto-cta-wrapper{
    height: 500px;
  }
  .texto-cta-logo{
    transform: scale(0.70);
  }

  .texto-cta-wrapper h3 a{
    font-size: 35px;
  }
  .texto-cta-wrapper p a{
    font-size: 14px;
  }


    
  .localbox-foto{
    height: 450px;
  }
  .sombra h1{
    transform: scale(0.6);
  }
  .escritorios-box{
    transform: scale(0.6);
  }
  .escritorios-box h4{
    font-size: 12px;
  }
  .escritorios-box h3{
    font-size: 16px;
  }
  .escritorios-box{
    transform: scale(0.6);
  }

  .footer p{
    font-size: 7px;
  }

  .footer-links a{
    font-size: 7px;
  }
  .footer-icons i{
    font-size: 10px;
  }
  .footer-logo {
    width: 150px !important;
    height: 50px;
  }


  .local-box{
    margin: 35px 0 15px;
  }
}

@media screen and (max-width: 768px){
  .img-container{
    background-position: center 39px; 
    height: 335px;
  }
  .title-img-main h1{
    font-size: 35px;
  }
  .title-img-main h3{
    font-size: 18px;
    margin-left: 115px;
    margin-bottom: 12px;
  }
  .title-img-main h4{
    font-size: 15px;
    margin-left: 147px;    
  }
  .title-img-main h5{
    font-size: 8px;
    margin-top: 5px;
    margin-left: 142px;  
  }
  .itens-navbar{
    display: none;
  }
  .logo{
    width: 100px;
    height: 40px;
    margin-left: 50px;
  }
  .itens-navbar-hamb{
    display: flex;
  }
  .bio-belle h3{
    font-size: 24px;
  }
  .bio-belle h5{
    font-size: 13px;
  }
  .bio-belle p{
    padding-right: 85px;
    font-size: 12px;
    line-height: 26px;
  }
  .foto-belle{
    width: 40%;
    height: 440px;
  }
  .bio-box{
    min-height: 400px;
    height: fit-content;
  }
  .perguntas-box{
    height: 430px;
  }
  .proc-wrapper{
    transform: scale(0.54);
  }
  
  .modal{
    height: fit-content;
    transform: translateY(-80px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.5);
    width: 60%; /* Largura do conteúdo */
  }


  .cta-box{
    height: 450px;
  }
  .foto-cta{
    height: 450px;
  }
  .texto-cta-wrapper{
    height: 450px;
  }
  .texto-cta-logo{
    transform: scale(0.6);
  }

  .texto-cta-wrapper h3 a{
    font-size: 30px;
  }
  .texto-cta-wrapper p a{
    font-size: 13px;
  }


     
  .localbox-foto{
    height: 420px;
  }
  .sombra h1{
    transform: scale(0.65);
    margin: 0 1%;
  }
  .escritorios-box{
    transform: scale(0.75);
    margin: 1%;
  }
  .datas-localBox p{
    font-size: 11px;
  }
  .escritorios-box h4{
    font-size: 11px;
  }
  .escritorios-box h3{
    font-size: 13px;
  }
  .redesSociais-wrapper .fa-facebook-f, .redesSociais-wrapper a .fa-whatsapp, .redesSociais-wrapper .fa-instagram{
    font-size: 14px!important;
    width: 26px;
    height: 26px;
    padding: 5px;   
  }
  .dados-contatos {
    margin: 0 0 15px;
  }


  
  .footer p{
    font-size: 7px;
  }
  .footer-links a{
    font-size: 7px;
  }
  .footer-icons i{
    font-size: 10px;
  }
  .footer-logo {
    width: 140px !important;
    height: 40px;
  }
  .local-box{
    margin: 30px 0 12px;
  }
}


@media screen and (max-width: 640px){
  .title-img-main h1{
    font-size: 33px;
    margin-left: 95px;
  }
  .title-img-main h3{
    font-size: 17px;
    margin-left: 105px;
    margin-bottom: 12px;
  }
  .title-img-main h4{
    font-size: 14px;
    margin-left: 133px;    
  }
  .title-img-main h5{
    font-size: 7px;
    margin-top: 5px;
    margin-left: 131px;  
  }
  .bio-belle h3{
    font-size: 20px;
  }
  .bio-belle h5{
    font-size: 11px;
  }
  .bio-belle p{
    padding-right: 60px;
    font-size: 10px;
    line-height: 20px;
  }
  .foto-belle{
    width: 40%;
    height: 260px;
  }
  .bio-box{
    width: 100%;
    min-height: 340px;
    height: fit-content;
  }
  .img-container{
    background-position: center 35px; 
    height: 300px;
  }
  .perguntas-box{
    height: 325px;
  }
  .proc-wrapper{
    transform: scale(0.42);
  }
  .modal{
    height: fit-content;
    transform: translateY(-110px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.4);
    width: 80%; /* Largura do conteúdo */
  }

  .cta-box{
    height: 350px;
  }
  .foto-cta{
    height: 350px;
  }
  .texto-cta-wrapper{
    height: 350px;
    padding: 1%;
  }
  .texto-cta-logo{
    transform: scale(0.45);
  }

  .texto-cta-wrapper h3 a{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .texto-cta-wrapper p a{
    font-size: 11px;
  }


  
  .localbox-foto{
    height: 360px;
  }
  .sombra h1{
    transform: scale(0.6);
    margin: 0 1%;
  }
  .escritorios-box{
    transform: scale(0.6);
    margin: 1%;
  }
  .datas-localBox p{
    font-size: 10px;
  }
  .escritorios-box h4{
    font-size: 11px;
  }
  .escritorios-box h3{
    font-size: 12px;
  }
  .redesSociais-wrapper .fa-facebook-f, .redesSociais-wrapper a .fa-whatsapp, .redesSociais-wrapper .fa-instagram{
    font-size: 13px!important;
    width: 26px;
    height: 26px;
    padding: 5px;   
  }
  .dados-contatos {
    margin: 0 0 15px;
  }


  .footer p{
    font-size: 6px;
  }
  .footer-links a{
    font-size: 6px;
    margin: 7px;
  }
  .footer-icons i{
    font-size: 9px;
  }
  .footer-logo {
    width: 130px !important;
    height: 35px;
  }

  .local-box{
    margin: 20px 0 8px;
  }

}

@media screen and (max-width: 550px){
 
  .img-container{
    background-position: center 37px; 
    height: 220px;
  }
  .title-img-main h1{
    font-size: 28px;
    margin-top: 25px;
  }
  .title-img-main h3{
    font-size: 13px;
    margin-left: 115px;
    margin-bottom: 8px;
  }
  .title-img-main h4{
    font-size: 11px;
    margin-left: 138px;    
  }
  .title-img-main h5{
    font-size: 6px;
    margin-top: 3px;
    margin-left: 135px;  
  }

  .bio-belle h3{
    font-size: 17px;
  }
  .bio-belle h5{
    font-size: 9px;
  }
  .bio-belle p{
    padding-right: 45px;
    font-size: 8px;
    line-height: 16px;
  }
  .foto-belle{
    width: 40%;
    height: 300px;
  }
  .bio-box{
    min-height: 360px;
    height: fit-content;
  }
  
  .itens-navbar-hamb{
    margin-right: 2%;
  }

  .itens-navbar-hamb i{
    font-size: 13px;
  }

  .hamburguinho-modal{
    right: 30px;
  }

  .hamburguinho-modal li{
    margin: 2px 10px;
  }

  .cbh{
    font-size: 7px;
    padding: 1%;
  }
  .perguntas-box{
    height: 275px;
  }
  .proc-wrapper{
    transform: scale(0.35);
  }
  .modal{
    height: fit-content;
    transform: translateY(-135px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.35);
    width: 90%; /* Largura do conteúdo */
  }

  .cta-box{
    height: 275px;
  }
  .foto-cta{
    height: 275px;
  }
  .texto-cta-wrapper{
    height: 275px;
    padding: 1%;
  }
  .texto-cta-logo{
    transform: scale(0.40);
  }

  .texto-cta-wrapper h3 a{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .texto-cta-wrapper p a{
    font-size: 8px;
  }


  .footer p{
    font-size: 6px;
  }
  .footer-links a{
    font-size: 6px;
    margin: 5px;
  }
  .footer-icons i{
    font-size: 9px;
  }
  .footer-logo {
    width: 125px !important;
    height: 30px;
  }


    
  .local-box{
    margin: 20px 0 8px;
  }

}

@media screen and (max-width: 480px){
  .itens-navbar-hamb i{
    font-size: 10px;
  }
  .logo{
    width: 80px;
    height: 30px;
    margin-left: 40px;
  }

  .title-img-main h1{
    font-size: 25px;
    margin-left: 80px;
    
  }
  .title-img-main h3{
    font-size: 12px;
    margin-left: 92px;
    margin-bottom: 8px;
  }
  .title-img-main h4{
    font-size: 10px;
    margin-left: 113px;    
  }
  .title-img-main h5{
    font-size: 5px;
    margin-top: 1px;
    margin-left: 112px;  
  }
  .bio-belle h3{
    font-size: 16px;
  }
  .bio-belle h5{
    font-size: 8px;
  }
  .bio-belle p{
    padding-right: 60px;
    font-size: 7px;
    line-height: 13px;
  }
  .foto-belle{
    width: 40%;
    height: 200px;
  }
  .bio-box{
    min-height: 260px;
    height: fit-content;
  }
  .img-container{
    background-position: center 37px; 
    height: 220px;
  }
  .perguntas-box{
    height: 205px;
  }
  .proc-wrapper{
    transform: scale(0.35);
  }

  .modal{
    height: fit-content;
    transform: translateY(-140px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.33);
    width: 90%; /* Largura do conteúdo */
  }
  

  .localbox-foto{
    height: 300px;
  }
  .sombra h1{
    margin: 0 1%;
  }
  .escritorios-box{
    width: 180px;
    margin: 0 1%;
  }
  .datas-localBox p{
    font-size: 9px;
  }
  .escritorios-box h4{
    font-size: 8px;
  }
  .escritorios-box h3{
    font-size: 10px;
  }
  .redesSociais-wrapper .fa-facebook-f, .redesSociais-wrapper a .fa-whatsapp, .redesSociais-wrapper .fa-instagram{
    font-size: 11px!important;
    width: 20px;
    height: 20px;
    padding: 3px;   
  }
  .dados-contatos {
    margin: 0 0 15px;
  }
  .localBoxes-wrapper i {
    font-size: 12px;
  }


  .footer p{
    font-size: 5px;
  }
  .footer-links a{
    font-size: 5px;
    margin: 5px;
  }
  .footer-icons i{
    font-size: 7px;
  }
  .footer-logo {
    width: 120px !important;
    height: 26px;
  }

  
  .local-box{
    margin: 20px 0 8px;
  }
}

@media screen and (max-width: 385px){
  .title-img-main h1{
    font-size: 25px;
    margin-left: 60px;
    margin-top: 25px;
  }
  .title-img-main h3{
    font-size: 12px;
    margin-left: 72px;
    margin-bottom: 8px;
  }
  .title-img-main h4{
    font-size: 10px;
    margin-left: 93px;    
  }
  .title-img-main h5{
    font-size: 5px;
    margin-top: 1px;
    margin-left: 92px;  
  }  
  .bio-belle h3{
    font-size: 13px;
  }
  .bio-belle h5{
    font-size: 7px;
  }
  .bio-belle p{
    padding-right: 30px;
    font-size: 6px;
    line-height: 12px;
  }
  .foto-belle{
    width: 40%;
    height: 200px;
  }
  .bio-box{
    min-height: 170px;
    height: fit-content;
  }


  .perguntas-box{
    height: 180px;
  }
  .proc-wrapper{
    transform: scale(0.25);
  }


  
  .itens-navbar-hamb{
    margin-right: 2%;
  }

  .itens-navbar-hamb i{
    font-size: 10px;
  }

  .hamburguinho-modal{
    right: 30px;
  }

  .hamburguinho-modal li{
    margin: 2px 10px;
  }

  .cbh{
    font-size: 5px;
    padding: 1%;
  }
  .img-container{
    background-position: center 30px; 
    height: 200px;
  }
  .modal{
    transform: translateY(-160px); /* Move 100 pixels para cima */
  }
  .modal-content{
    transform: scale(0.25);
    width: 100%; /* Largura do conteúdo */
  }
  .cta-box{
    height: 200px;
  }
  .foto-cta{
    height: 200px;
  }
  .texto-cta-wrapper{
    height: 200px;
    padding: 1%;
  }
  .texto-cta-logo{
    transform: scale(0.3);
  }

  .texto-cta-wrapper h3 a{
    font-size: 12px;
    margin-bottom: 40px;
  }
  .texto-cta-wrapper p a{
    font-size: 5px;
  }


  .localbox-foto{
    height: 270px;
  }
  .sombra h1{
    margin: 0 5%;
    transform: scale(1);
    font-size: 14px;
  }
  .escritorios-box{
    width: 150px;
    margin: 0 1%;
    transform: scale(0.7);
  }
  .datas-localBox p{
    font-size: 8px;
    margin-bottom: 0;
  }
  .escritorios-box h4{
    font-size: 7px;
  }
  .escritorios-box h3{
    font-size: 8px;
  }
  .redesSociais-wrapper .fa-facebook-f, .redesSociais-wrapper a .fa-whatsapp, .redesSociais-wrapper .fa-instagram{
    font-size: 9px!important;
    width: 17px;
    height: 17px;
    padding: 3px;   
  }
  .dados-contatos {
    margin: 0 0 15px;
  }
  .localBoxes-wrapper i {
    font-size: 9px;
  }
  .cidades{
    margin-bottom: 0!important;
  }
  .redesSociais-wrapper{
    margin: 0;
  }


  .footer p{
    font-size: 4px;
  }
  .footer-links a{
    font-size: 4px;
    margin: 4px;
  }
  .footer-icons i{
    font-size: 6px;
  }
  .footer-logo {
    width: 110px !important;
    height: 20px;
  }
  

  .local-box{
    margin: 15px 0 5px;
  }
}